#thumbnail_1 {
    display: flex;
    size: 100px;
    background-size: contain;
    background-image: url(https://assets1.ignimgs.com/2021/02/09/littlenightmaresii-blogroll-1612848309067.jpg);
}

#description {
    display: flex;

}

#row {
    flex-direction: row;
}