.containter {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.thumbnail {
  width: 20%;
  height: 20;
  display: flex;
}

.box_1 {
  width: 400px;
  padding-left: 10px;
}

h1 {
  text-align: center;
  display: block;
  width: 100%;
}

h3 {
  text-align: center;
  display: block;
  width: 100%;
}

p {
  text-align: right;
}

img {
  align-self: left;
}

.box_1 :hover {
  border: 2px solid black;
}