@import url('https://fonts.google.com/specimen/Orelega+One');

body {font-family: 'Orelega One';}


h1 {
    align-self: center;
    margin: 1rem;
}

p {
    align-self: right;
    margin: 1rem;
    display: flex;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    padding: .5rem;
    align-items: center;

    
}

.grid-item {
    width: 1fr;
}

@media (max-width: 500px) {
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (max-width: 300px) {
    .grid-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}