@keyframes loading {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

.loadcircle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 25px red;
  border-bottom-color: salmon;
  top: 20%;
  left: 50%;
  position: absolute;
  animation: 1.5s linear infinite loading;
}

body {
    background-color: skyblue;
}